---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Chi sono"
	description="Chi sono"
	draft={false}
	pubDate={new Date("March 01 2013")}
>
	<!-- heroImage={AboutHeroImage} -->

	<p>
		Sono Luca Favorido. Amo la poesia, la musica, l'arte in genere. Faccio
		quello che faccio con piacere. Mi piace vedere cose nuove ma viaggiare
		mi spaventa un po', mi piace creare cose nuove e pensare. Faccio
		l'informatico.
	</p>

	<strong>Hobby:</strong>

	<p>
		Suono vari strumenti. Ho iniziato con la chitarra e il basso. Ho suonato
		in vari gruppi della zona (Hellbound, Kaleidos, Pilgrims...). Suono
		ancora le sei corde ma a casa con amici e con la mia dolce metà. Per un
		periodo ho anche cantato nella Schola Cantorum di Oriago. A tempo perso
		mi divertivo con il didgeridoo. Poi, grazie a un amico trombonista, ho
		iniziato con un nuovo strumento meraviglioso, la Tuba. La suono in
		banda.
	</p>

	<p>
		Ho curato immagini e musiche per lo spettacolo "Le speranze e la gioia",
		una rievocazione scenica del concilio vaticano II scritto e diretto da
		Giuseppe Bovo. Il reading è stato messo in scena in tre teatri della
		zona contando centinaia di spettatori. Ero capo scout del gruppo Agesci
		Mirano 12, mi piaceva davvero molto stare con i ragazzi. Lo scoutismo mi
		ha fatto uscire dalla mia timidezza. Mi ha fatto fare esperienze e
		incontri tra più belli della mia vita. Amo la laguna. Adoro andare in
		barca con qualche amico; amo il profumo dei campi, dei fossi, la nebbia
		della campagna al mattino.
	</p>

	<p><strong>To be continued...</strong></p>
</Layout>
